body {
	margin: 0;
	padding: 0;
	font-family: Montserrat, Helvetica, sans-serif;
}

/* Header styles */
header {
	background-color: #ece2d5;
	padding: 15px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-left {
	font-size: 16px;
	text-align: center;
}

.header-right {
	text-align: right;
}

.join-button {
	display: inline-block;
	background-color: rgb(207, 69, 32);
	color: #fff;
	padding: 15px 20px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	transition: background-color 0.3s ease;
	text-decoration: none;
}

.join-button:hover {
	background-color: #444;
}

/* Media queries */
@media only screen and (max-width: 600px) {
	header {
		position: static;
		padding: 10px;
	}

	.header-left {
		font-size: 13px;
		font-weight: bold;
		text-align: center;
	}

	.header-right {
		display: none;
	}
}

/* hero section */
.hero {
	background: url('../img/hero-image.avif') no-repeat 50% 0%;
	background-color: #fff7eb;
	height: 500px;
	background-size: auto 100%;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}
.hero-container {
	text-align: right;
	max-width: 850px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 500px;
	background-size: auto 100%;
	color: white;
	overflow: hidden;
}

.left-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding: 20px;
	max-width: 550px;
}

.hero-header {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #000;
}

.hero-container .description {
	font-size: 20px;
	margin-bottom: 20px;
	max-width: 430px;
	color: #b95c23;
}
.countdown-section {
	display: block;
	float: left;
	text-align: center;
	border-radius: 5px;
	margin: 0 10px;
	padding: 0px 10px;
}
.countdown-section:first-child {
	padding-left: 0px;
}

.countdown {
	color: #5f5854;
	font-size: 27px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.countdown-amount {
	font-weight: bold;
}
.countdown .separator::after {
	content: ':';
	position: absolute;
	margin-left: 20px;
	margin-top: -2px;
}
.countdown-period {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.4);
	margin-top: -5px;
}

.hero-button,
.cta-button {
	font-size: 19px;
	font-weight: bold;
	padding: 10px;
	background-color: rgb(207, 69, 32);
	border-radius: 5px;
	color: white;
	text-decoration: none;
	margin-top: 20px;
	text-align: center;
	width: 400px;
	transition: all 0.2s linear;
	display: block;
}

.hero-button:hover,
.telegram:hover,
.cta-button:hover {
	background-color: rgb(233 86 46);
	animation: skew 0.5s ease-in-out 1;
}

.cta-button {
	margin: 10px auto;
	font-size: 19px;
	max-width: 600px;
}

.telegram {
	background-color: #0088cc;
}
.telegram:hover {
	background-color: #0077bb;
}

@keyframes skew {
	0% {
		transform: skewX(0deg);
	}
	33% {
		transform: skewX(10deg);
	}
	66% {
		transform: skewX(-10deg);
	}
	100% {
		transform: skewX(0deg);
	}
}

@media only screen and (max-width: 750px) {
	.hero {
		background: url('../img/yoga-header-mobile.avif') no-repeat center top;
		background-size: cover;
		background-size: 100% auto;
		width: 100%;
		height: auto;
		max-height: auto;
		clip-path: none;
	}
	.hero-container {
		text-align: center;
		height: auto;
	}

	.left-column {
		align-items: center;
		margin: 100% 0 0;
		padding: 20px;
		background-color: #faf6f4;
		max-width: none;
		width: 100%;
	}
	.hero-button {
		width: 300px;
	}
	.cta-button {
		font-size: 14px;
		max-width: 300px;
	}
}

/* about session */
.about-session {
	font-size: 18px;
}
.about-session .description,
.video-holder {
	margin: 0 auto;
	padding: 20px;
	max-width: 700px;
}

/*----------- before-after --------------*/
.before-after {
	text-align: center;
	background: url('../img/bg1.avif') no-repeat 50% 0%;
	background-size: cover;
	padding: 30px 0 50px;
	margin-bottom: -50px;
}

.before-after h2 {
	color: #ef3341;
	font-size: 20px;
	margin-bottom: -20px;
}

.before-after h1 {
	color: #174a5b;
	font-size: 50px;
}

.before-after u {
	-webkit-text-decoration-color: #a3d7df !important;
	text-decoration-color: #a3d7df !important;
	background-color: rgba(209, 236, 240, 0.5);
	border-radius: 1px;
}

.rows {
	max-width: 950px;
	margin: 5% auto 0;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

@media (max-width: 700px) {
	.rows {
		flex-direction: column;
	}

	.option-box {
		margin: 0 auto;
	}
}

.option-box {
	max-width: 500px;
	flex-basis: 48%;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: center;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
	padding: 20px;
	background-color: #fff;
}

.option-box h2 {
	text-transform: uppercase;
	font-size: 32px;
	margin: 10px;
}

.option-box a {
	color: #fff;
	font-size: 24px;
	text-decoration: none;
}

.netflix h2 {
	color: #ef3341;
}
.netflix a {
	background-color: #ef3341;
}

.watch-session h2 {
	color: #39aec0;
}

.watch-session a {
	background-color: #39aec0;
}

.option-box ul {
	list-style: none;
	color: #174a5b;
	font-size: 20px;
	text-align: left;
	margin-bottom: 20px;
	padding: 0 0 10px 0;
}

.option-box li {
	background-repeat: no-repeat;
	background-position: 7px 9px;
	padding: 10px 10px 10px 60px;
}
.netflix li {
	background-image: url('../img/error.png');
}

.watch-session li {
	background-image: url('../img/ok.png');
}
@media (max-width: 700px) {
	.before-after h2 {
		font-size: 14px;
		margin-bottom: -15px;
	}
	.before-after h1 {
		font-size: 26px;
	}
	.option-box h2 {
		font-size: 26px;
	}

	.before-after ul {
		text-align: center;
		font-size: 16px;
	}
}

.default-btn {
	display: block;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}
.default-btn:hover {
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.sh-divider {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
}

.sh-divider img {
	max-width: 100%;
	max-height: 100%;
}
.iframe-container {
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
}

@media screen and (max-width: 750px) {
	iframe {
		max-width: 100% !important;
	}
	.video-frame {
		max-width: 100% !important;
		width: auto !important;
		height: auto !important;
	}
}

/* testimonials */
.testimonials {
	background-color: #f7f7f7;
	background-color: #0b045f;
	padding: 80px 0 80px;
	text-align: center;
	clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.testimonials-header {
	color: #02026b;
	text-align: center;
	margin-bottom: 30px;
}

.testimonials-boxes {
	margin-top: 20px;
}

.testimonial-box {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
	margin: 10px;
	padding: 20px;
	text-align: left;
	display: inline-block;
	width: 25%;
}

.testimonial-box .testimonial-photo {
	border-radius: 50%;
	width: 70px;
	height: 70px;
	object-fit: cover;
	margin-bottom: 10px;
	margin-top: -45px;
}

.testimonial-box .testimonial-text {
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 10px;
}

.testimonial-box .testimonial-name {
	font-size: 16px;
	font-weight: bold;
}

@media (max-width: 768px) {
	.testimonials {
		clip-path: polygon(0 05%, 100% 0, 100% 95%, 0 100%);
	}
	.testimonial-box {
		width: 80%;
	}
}

/* faq */

.faq {
	text-align: center;
}
.faq-header {
	font-size: 42px;
	padding: 24px;
}

.faq-content {
	text-align: left;
	overflow-x: hidden;
	padding: 0 60px 30px 0;
	max-width: 700px;
	margin: 0 auto;
}

.faq-question {
	padding: 10px 0;
	margin: 10px 0;
	border-bottom: 1px dotted #ccc;
}

.panel-title {
	font-size: 24px;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 10px 10px 0 48px;
	display: block;
	cursor: pointer;
}

.panel-content {
	font-size: 20px;
	padding: 0px 14px;
	margin: 0 40px;
	height: 0;
	overflow: hidden;
	z-index: 0;
	position: relative;
	opacity: 0;
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	transition: 0.4s ease;
}

.panel:checked ~ .panel-content {
	height: auto;
	opacity: 1;
	padding: 14px;
}

.plus {
	color: #cf4520;
	position: absolute;
	margin-left: 20px;
	margin-top: 4px;
	z-index: 5;
	font-size: 35px;
	line-height: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.panel:checked ~ .plus {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.panel {
	display: none;
}

.disabled {
	background-color: #777;
	pointer-events: none;
	cursor: unset;
}
