<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="content-language" content="ru" />
<meta name="keywords" content="иша, садхгуру, английский, рерпетитор" />
<meta name="author" content="Английский по Садхгуру" />
<meta name="publisher" content="Английский по Садхгуру" />
<meta name="copyright" content="Английский по Садхгуру" />

<link rel="stylesheet" href="./css/theme.css" />
<link rel="stylesheet" href="./css/youtube-player.css" />
<script type="text/javascript" src="./js/tools.js"></script>
<script type="text/javascript" src="./js/youtube-player.js"></script>

<link
	rel="apple-touch-icon"
	sizes="180x180"
	href="/icon/apple-touch-icon.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="32x32"
	href="/icon/favicon-32x32.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="16x16"
	href="/icon/favicon-16x16.png"
/>
<link rel="manifest" href="/icon/site.webmanifest" />
<link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#5bbad5" />

<style>
	/* ===== Overwrites =====*/
	:root {
		--cover-text-color: #eae3d4;
		--cover-title-text-shadow: #3f4c4c;
		font-family: 'Roboto Slab', serif;
	}

	/* ===== Buttons =====*/
	.hero-button,
	.tg-button,
	.cta-button {
		font-size: 19px;
		font-weight: bold;
		padding: 10px;
		background-color: rgb(207, 69, 32);
		border-radius: 5px;
		color: white;
		text-decoration: none;
		margin-top: 20px;
		text-align: center;
		transition: all 0.2s linear;
		display: block;
		margin: 10px auto;
		font-size: 19px;
		max-width: 600px;
	}

	.hero-button:hover,
	.tg-button:hover,
	.cta-button:hover {
		background-color: rgb(233 86 46);
		animation: skew 0.5s ease-in-out 1;
	}

	.tg-button {
		background-color: #0088cc;
	}
	.tg-button:hover {
		background-color: #0077bb;
	}

	/* ===== Details ===== */
	details {
		margin: 10px auto;
	}
	details div {
		margin: 5px 20px;
	}
	summary {
		font-weight: 600;
	}

	/* ===== Countdown ===== */
	.countdown-section {
		display: block;
		float: left;
		text-align: center;
		border-radius: 5px;
		margin: 0 10px;
		padding: 0px 10px;
	}
	.countdown-section:first-child {
		padding-left: 0px;
	}

	.countdown {
		color: #5f5854;
		font-size: 27px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.countdown-amount {
		font-weight: bold;
	}
	.countdown .separator::after {
		content: ':';
		position: absolute;
		margin-left: 20px;
		margin-top: -2px;
	}
	.countdown-period {
		font-size: 18px;
		color: rgba(0, 0, 0, 0.4);
		margin-top: -5px;
	}
</style>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
	rel="stylesheet"
/>
