<div class="flying-yogi">
	<img src="/img/footer-flying-yogi.avif" alt="sh-divider" />
</div>
<footer style="">
	<div style="color: #fff; text-align: center">
		<p>&copy; 2023 Yogic English. Все права защищены.</p>
		<div class="icons">
			<a href="https://t.me/IshaEnglish">Tg: <span>@IshaEnglish</span></a>
			<a href="https://t.me/AlexFreik"
				>По вопросам: <span>t.me/AlexFreik</span></a
			>
		</div>
	</div>
</footer>

<style>
	footer {
		background-color: #28231e;
		padding: 20px;
		width: 100%;
		text-align: center;
		padding: 30px 0;
		color: #fff;
		position: relative;
	}
	footer a {
		text-decoration: none;
		color: #ece2d4;
		margin: 0 15px;
		white-space: nowrap;
	}

	footer a span {
		text-decoration: underline;
	}
	footer .icons .fa {
		color: #fff;
		margin: 0 10px;
		cursor: pointer;
		padding: 19px 0;
		font-size: 15px;
	}

	/* flying yogi  */
	.flying-yogi {
		min-height: 50px;
		overflow: hidden;
		/* Magic */
		display: flex;
		align-items: center; /* vertical */
		justify-content: center; /* horizontal */
	}
	.flying-yogi img {
		max-width: 100%;
	}
	@media only screen and (max-width: 1000px) {
		.flying-yogi img {
			max-width: none;
			height: 50px;
		}
	}
</style>
