<title>Yogic English - начни понимать Садхгуру</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="content-language" content="ru" />
<meta name="keywords" content="иша, садхгуру, английский, рерпетитор" />
<meta name="author" content="Английский по Садхгуру" />
<meta name="publisher" content="Английский по Садхгуру" />
<meta name="copyright" content="Английский по Садхгуру" />
<meta
	name="description"
	content="БЕСПЛАТНАЯ онлайн Сессия – как наконецто выучить Английский и начать понимать Садхгуру 🙏"
/>
<meta name="audience" content="Everyone" />
<meta name="robots" content="index, follow" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />

<link rel="stylesheet" type="text/css" href="/css/theme.css" />

<link
	rel="apple-touch-icon"
	sizes="180x180"
	href="/icon/apple-touch-icon.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="32x32"
	href="/icon/favicon-32x32.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="16x16"
	href="/icon/favicon-16x16.png"
/>
<link rel="manifest" href="/icon/site.webmanifest" />
<link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#5bbad5" />
